<!-- Trailer Summary Modal -->
<div class="modal fade" id="trailer-summary-modal" tabindex="-1" aria-labelledby="trailerSummaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="trailerSummaryModalLabel">Résumé des Bandes-annonces</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="trailer-summary-container">
                    <!-- Le contenu sera injecté ici par JavaScript -->
                </div>
            </div>
        </div>
    </div>
</div>